.App {
  text-align: center;
  margin: 0;
}

.Navbar {
  background-color: black;
  font-size: medium;
  padding:0;
  display: flex;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* display: inline; */
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 10px;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: green
}

.Products {
  column-count: 4;
  gap: 3;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width:80%;
  border-radius: 5px;
  align-items: center;
}

.container {
  padding: 2px 16px;
}